body{
    background-color:black;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    color: white;
}
.Big{
    background: url(imgs/ori.jpg)  no-repeat center fixed;
    background-size: cover;
    image-rendering: pixelated;
    background-size: auto auto;
    height: 100vh;
}
.Big{
  display: flex;
  flex-direction: row;
}
.Designer{
    display: flex;
    
}
.Designer>img{
    margin: 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    image-rendering: pixelated
}
.First{
    flex: 60%;
    justify-content: flex-start;
}
.First{
    display: flex;
    flex-direction: column;
}
.BigText{
    transition: ease-in 3s;
    font-size: 120px;
    left: 50px;
    height: 40%;
    width: 80%;
    padding: 0;
    line-height: 120px;
    font-family: 'Anton', sans-serif;
    color: white;
    margin-top: 40vh;
    margin-left: 50px;
    opacity: 0.9;
}
.BigText:hover{
    font-size: 130px;
}
.Extreme{
    flex: 40%;
    color: white;
    font-family: 'Tulpen One', cursive;
    font-size: 26px;  
}
button{
    background-color: black ; 
    color: white; 
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    cursor: pointer;
}
.Buttons{
  margin-top: 10px;
  margin-left: 80px;
}
.JustText{
    margin-top: 50vh;
    width: 300px;
    margin-left: 60px;
    margin-right: 100px;
    text-align: justify;
}